
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"> 
            <link rel="stylesheet" href="css/stile.css">
            <link rel="icon" href="~/image/spot-a-gay.svg">
            <title>Spot-a-gay</title>
            <style>
                button[type="submit"] {
                    width: 20px; 
                    height: 20px;
                    border: none;
                    background: url("~/image/Group.svg") no-repeat 50% 50%; /* Параметры фона */
                }
            </style>

</head>
<body>
<header class="header">
    <div class="header__logo">
        <a href='@Url.Action("Index","Home")'>
            <img src="~/image/title.svg" alt="logo">
        </a>
        
    </div>
    <div class="header__navigmenu">
        <div class="header__navigmenu-links">
            <a href='@Url.Action("Index","Home")'>Новинки</a>
            <a href="">Подкасты</a>
            <a href="">Исполнители</a>
            <a href="">Жанры</a>
            <a href="">Плейлисты</a>
            <a href="">Мы</a>
            <a href="@Url.Action("CreatePost","Home")">Создать пост</a>
            <form>
                <div class="search">
                    <input type="search" class="navig-search" placeholder="Поиск" name="search" required>
                    <button type="submit"></button>
                </div>
            </form>
            <div class="header-authorization">
                <button onclick="myFunction()" class="dropbtn">Профиль</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href='@Url.Action("Authorization", "Home")'>Войти</a>
                    <a href='@Url.Action("Registration", "Home")'>Зарегестрироваться</a>
                </div>
            </div>
            <script>
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }
            window.onclick = function(event) {
              if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                  }
                }
              }
            }
            </script>
        </div>      
    </div>
</header>

@RenderBody()
<footer class="footer">
            <p class="contact"></p>
    </footer>
</body>
</html>